body{
   color: #232536;
}


span{
   text-transform: uppercase;
}

button{
   color: #232536;
   background: #ffd050;
   font-weight: 700;
   padding: 15px 50px;
}

h1{
   font-weight: 700;
   font-size: 56px;
   line-height: 64px;
   letter-spacing: -2px;
   color: #fff;
}

p{
   font-weight: 400;
   font-size: 16px;
   line-height: 28px;
   color: #6D6E76;
}

h2{
   font-weight: 700;
   font-size: 36px;
   line-height: 48px;
   letter-spacing: -2px;
}

h3{
   font-weight: 700;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -1px;
   color: #232536;
}

h4{
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   color: #232536;
}

.link{
   color:rgba(89, 46, 169, 1);
}